<h1>Search users</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form-inline" method="POST" action="/user/search">
    <div class="form-group">
        <input type="text" name="id" id="id" placeholder="Search users By ID" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>